.TooltipPage {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-Block {
    margin-bottom: 50px;
    text-align: center;
  }
}

.Test {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  max-width: 400px;
  width: 100%;
  border: 1px solid #000;

  &-Text {
    max-width: 100px;
    width: 100px;
  }
}
