$color-primary: rgba(176, 151, 106, 1); /* #B0976A */
$color-primary-hover: rgba(153, 126, 77, 1); /* #997E4D */

$color-disabled: rgba(191, 191, 191, 1); /* #bfbfbf */
$color-disabled-secondary: rgba(245, 245, 245, 1); /* #f5f5f5 */
