# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Папки, создаваемые средой разработки
.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

.vscode/
*.code-workspace

# Local History for Visual Studio Code
.history/

.mypy_cache





# Logs
Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# misc
.vs
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase cache
.firebaserc
firebase-debug.log
.firebase/
firebaserc
.firebase.json
database.rules.json
# web
web/firebase-config.js

# Compiled binary addons
dist
build/Release

# production
/build
/dist
app/css/
DerivedData/

# Dependency directories
node_modules/
/node_modules
frontend/node_modules/
**/node_modules
*/node_modules/*
/.pnp
.pnp.jsonapp/css

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn integrity file
.yarn-integrity

# webstorm user setting files
/.idea
*.idea
frontend/.idea
**.idea
*/.idea/*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Intellij
*.iml

# Android Studio
captures/
.externalNativeBuild

# Gradle files
.gradle/

# Built Android application files
*.apk

# Local configuration file (ex. SDK path)
local.properties

# Google Services (ex. APIs and Firebase)
google-services.json
GoogleService-Info.plist

# Various Xcode settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# Other Xcode files
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Chrome Extension related
*.pem
*.crx

# Local config/setup
samples/android/Continote/app/src/main/res/values/strings.xml
samples/chrome-extension/Continote/scripts/config.js
samples/ios/Continote/Continote/Constants.swift
samples/ios/Continote/Continote/Info.plist
samples/ios/Continote/Continote.xcodeproj/project.pbxproj
samples/web/Continote/database.rules.json
samples/web/Continote/public/scripts/config.js

# Libraries for samples
samples/android/Continote/app/libs/*.aar
samples/chrome-extension/Continote/scripts/firebase-continue.js
samples/ios/Continote/Continote/FCNContinue.h
samples/ios/Continote/Continote/FCNContinue.m

# Misc.
*.swp

# Django Static
static
.static
/.static
*.static
**.static
*/.static/*