@import "ui-kit/styles";

$height: 44px;
$maxWidth: 620px;

.Search {
  $this: &;
  display: flex;
  align-items: center;
  position: relative;
  max-width: $maxWidth;
  width: 100%;
  background-color: transparent;

  &#{$this}__active {
    #{$this}-Input {
      background-color: transparent;
    }
  }

  &__active {
    #{$this}-InputWrapper {
      border: 1px solid $color-primary;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    }

    #{$this}-Input {
      background-color: white;
    }
  }

  &-Form {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &-InputWrapper {
    padding: 0;
    width: 100%;
    height: $height;
    background-color: transparent;
    border: 1px solid rgba(224, 224, 224, 1);
    transition: all 0.15s;
  }

  &-Input {
    @include roboto-16-regular;
    margin: 0;
    padding: 0 50px 0 16px;
    width: 100%;
    height: $height;
    color: $color-text;
    background-color: transparent;
    border: none;
    outline: transparent;

    &::placeholder {
      color: $color-text;
    }
  }

  &-Icon {
    position: absolute;
    right: 15px;
    width: 24px;
    height: 24px;

    svg {
      fill: $color-text;
    }
  }
}
