appdirs==1.4.4
asgiref==3.3.4
async-lru==1.0.2
atomicwrites==1.4.0
attrs==21.2.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
coverage==5.5
cryptography==3.4.8
defusedxml==0.7.1
distlib==0.3.1
Django==3.2.3
django-cors-headers==3.7.0
django-filter==2.4.0
django-templated-mail==1.1.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.1
djoser==2.1.0
drf-yasg==1.20.0
filelock==3.0.12
Flask==2.0.1
idna==3.2
inflection==0.5.1
iniconfig==1.1.1
itsdangerous==2.0.1
itypes==1.2.0
Jinja2==3.0.1
MarkupSafe==2.0.1
oauthlib==3.1.1
packaging==20.9
pi==0.1.2
Pillow==8.2.0
pluggy==0.13.1
py==1.10.0
pyaes==1.6.1
pycparser==2.20
PyJWT==2.1.0
pyparsing==2.4.7
Pyrogram==1.2.9
PySocks==1.7.1
pytest==6.2.4
python-magic-bin==0.4.14
python3-openid==3.2.0
pytils==0.3
pytz==2021.1
requests==2.26.0
requests-oauthlib==1.3.0
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
six==1.16.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
sorl-thumbnail==12.7.0
sqlparse==0.4.1
toml==0.10.2
typing-extensions==3.10.0.0
uritemplate==3.0.1
urllib3==1.26.6
virtualenv==20.4.7
Werkzeug==2.0.1
