.SelectPage {
  h2 {
    margin-bottom: 25px;
  }

  &-Select {
    max-width: 220px;

    svg {
      fill: black;
      transition: all 0.15s;
    }

    &__active {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &-Warning {
    margin-top: 25px;
  }
}
