@import "ui-kit/styles";

.TextArea {
  display: flex;
  align-items: center;
  padding: 18px 40px 18px 12px;
  width: 100%;
  background-color: $color-bg-input;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: transparent;
  transition: all .25s ease;

  &:hover {
    background-color: $color-bg-input-hover;
  }

  &.TextArea__error {
    background-color: $color-light-red;

    &:hover {
      background-color: $color-light-red-hover;
    }
  }
}

.TextArea:-webkit-autofill {
    -webkit-background-clip: text;
}
