@import "ui-kit/styles";

.Icon {
  display: inline-flex;
  align-items: center;
  text-align: center;

  svg {
    display: inline-flex;
    width: 100%;
    height: max-content;
  }

  &-IconSize {
    &__small {
      width: 12px;
      height: 12px;
    }
  }
}
