.Error404 {
  height: calc(100vh - 144px);
  background: #141019 radial-gradient(at 50% -20%, #908392, #0d060e) fixed;

  &-Link {
    height: 100%;
    cursor: pointer;
  }

  &-Container {
    height: 100%;
  }

  &-Row {
    height: 100%;
  }
  &-RowBlock {
    height: 100%;
  }

  &-Handboy {
    animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 98% 98%;
    transform-box: fill-box;
  }

  &-Girllight {
    animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 0 97%;
    transform-box: fill-box;
  }

  &-Hairgirl {
    animation: swinghair ease-in-out 1.3s infinite alternate;
    transform-origin: 60% 0;
    transform-box: fill-box;

  }

  &-Zero
  {
    transform-origin:bottom;
    transform-box:fill-box;

  }
}

/*************swing************/
@keyframes swing {
  0% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}


/*************swing hair************/
@keyframes swinghair {
  0% { transform: rotate(6deg); }
  100% { transform: rotate(-6deg); }
}
