.OtpPage {
  color: #fff;

  &-Wrapper {
    max-width: 600px;
    width: 100%;
    margin: auto;
  }

  &-ContentContainer {
    background-color: rgba(26, 30, 35, 1);
    box-shadow: rgba(0, 0, 0, 0.4) 0 4px 16px, rgba(0, 0, 0, 0.08) 0 0 6px;
    padding: 36px 24px 40px;
    border-radius: 16px;
  }

  &-Title {
    text-align: center;
    padding-bottom: 32px;
  }

  &-SubTitle {
    color: #ffffffb3;
    margin-top: 8px;
  }

  &-ErrorMessage {
    color: #d14900;
  }

  &-FormBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  &-ResetButtonBox {
    margin-top: 12px;
  }

  &-ResetButton {
    width: 100%;
    background-color: #126cfd;
    border-color: #126cfd;
    border-radius: 16px;
    padding: 16px;

    &:hover {
      background-color: #5291ff;
      border-color: #5291ff;
    }
  }
}
