.SelectPage {
  &-Select {
    max-width: 220px;
    width: 100%;

    //svg {
    //  fill: #000;
    //  transition: all 0.15s;
    //}
    //
    //&__active {
    //  svg {
    //    transform: rotate(180deg);
    //  }
    //}
  }
}

.theme-dark {
  .Sorting {
    &-Select {
      svg {
        fill: #fff;
      }
    }
  }
}
