@import "ui-kit/styles";

.CheckBox {
  $this: &;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
  transition: all 0.15s;

  &:last-child {
    margin-bottom: 0;
  }

  &-Inner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid $color-light-gray;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    transition: all 0.15s;

    #{$this}-Icon {
      svg {
        margin-bottom: 1px;
        width: 14px;
        height: 14px;
        transform: translateY(-5px);
        opacity: 0;
        transition: opacity 0.128s ease-in-out, transform 0.328s ease-in-out;
      }

      path {
        stroke: white;
      }
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      transition: all 0.15s;
    }
  }

  &:hover {
    #{$this}-Inner {
      border-color: $color-suit-gray;
    }

    #{$this}-Label {
      color: $color-primary;
    }
  }

  &__active {
    #{$this}-Inner {
      background-color: $color-primary;
      border: 1px solid $color-primary;

      #{$this}-Icon {
        svg {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }

    #{$this}-Label {
      color: $color-primary;
    }

    &:hover {
      #{$this}-Inner {
        border-color: $color-primary;
      }
    }
  }

  &-Label {
    margin-left: 15px;
    transition: all 0.15s;
  }
}
